<template>
  <div 
    :class="$style.container" 
    class="container">
    <div :class="$style.header">
      <div :class="$style.imageContainer">
        <figure class="image is-square">
          <img 
            :src="fields.image.fields.file.url"
            :alt="fields.image.fields.description"
            class="is-rounded" >
        </figure>
      </div>
      <div :class="$style.titleContainer">
        <h1 class="title is-4">{{ fields.name }}</h1>
        <h4 class="subtitle is-6">{{ fields.title }}</h4>
        <small>email: <a :href="'mailto:'+fields.email">{{ fields.email }}</a></small><br>
        <small>tel: <a :href="'tel:'+fields.phone">{{ fields.phone }}</a></small>
      </div>
    </div>
    <div :class="$style.contentContainer">
      <h1 
        :class="$style.highlight" 
        class="title is-4 is-marginless">ABOUT</h1>
      <p>{{ fields.shortBio }}</p>
    </div>
    <div :class="$style.articleContainer">
      <div class="columns is-multiline">
        <div 
          v-for="article in articles" 
          :key="article.sys.id"
          class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
          <ArticleCard :article="article"/>
        </div>
      </div>
    </div>
    <div :class="$style.contentContainer">
      <h1 
        :class="[$style.highlight, $style.marginDown]" 
        class="title is-4 is-marginless">SOCIAL</h1>
      <a 
        v-if="fields.facebook" 
        :href="'https://facebook.com/'+fields.facebook">
        <fa 
          :class="$style.iconLink"
          :mask="['fas', 'circle']"
          :icon="['fab', 'facebook-f']" 
          size="3x"
          transform="shrink-3.5 down-1.4 right-0.55"/>
      </a>
      <a 
        v-if="fields.twitter" 
        :href="'https://twitter.com/'+fields.twitter">
        <fa 
          :class="$style.iconLink"
          :mask="['fas', 'circle']"
          :icon="['fab', 'twitter']" 
          size="3x"
          transform="shrink-4.3 down-0.3 right-0.3"/>
      </a>
      <a 
        v-if="fields.github" 
        :href="'https://github.com/'+fields.github">
        <fa 
          :class="$style.iconLink"
          :icon="['fab', 'github']" 
          size="3x"/>
      </a>
    </div>
  </div>
</template>

<script>
import ArticleCard from '~/components/ArticleCard'

export default {
  components: {
    ArticleCard
  },
  head() {
    return {
      title: this.fields.title,
      meta: [
        {
          name: 'description',
          hid: 'description',
          content: this.fields.description
        },
        // Open Graph
        {
          property: 'og:title',
          content: this.fields.name
        },
        {
          property: 'og:description',
          content: this.fields.shortBio
        },
        { property: 'og:type', content: 'profile' },
        { property: 'profile:first_name', content: this.firstName },
        { property: 'profile:last_name', content: this.lastName },
        { property: 'profile:username', content: this.fields.facebook },
        { property: 'og:url', content: 'https://pprangnt.xyz' },
        {
          property: 'og:image',
          content: `https:${this.fields.image.fields.file.url}`
        },
        { property: 'og:locale', content: this.sys.locale },
        // Twitter Card
        { property: 'twitter:card', content: 'summary' },
        {
          property: 'twitter:site',
          content: '@' + this.fields.twitter
        },
        {
          property: 'twitter:title',
          content: this.fields.title
        },
        {
          property: 'twitter:description',
          content: this.fields.description
        },
        {
          property: 'twitter:image',
          content: this.fields.image.fields.file.url
        },
        {
          property: 'twitter:image:alt',
          content: this.fields.image.fields.description
        }
      ]
    }
  },
  async asyncData({ app, params, query, redirect, payload }) {
    if (!params.facebook) return redirect('/?notfound=true')

    if (payload) {
      payload.spaceID = app.$contentfulID
      return payload
    }

    const result = await app.$contentful.getEntries({
      content_type: 'person',
      'fields.facebook': params.facebook
    })

    if (result.total === 1) {
      const user = result.items[0]

      const articles = await app.$contentful.getEntries({
        content_type: 'blogPost',
        'fields.author.sys.id': user.sys.id
      })

      return {
        spaceID: app.$contentfulID,
        ...user,
        articles: articles.items
      }
    }
    return
  },
  computed: {
    firstName() {
      return this.fields.name.split(' ')[0]
    },
    lastName() {
      return this.fields.name.split(' ')[1]
    }
  }
}
</script>

<style lang="scss" module>
@import '~/assets/styles/variable.scss';

.container {
  margin-top: 2rem;
}

.imageContainer {
  width: 12rem;
  height: 12rem;
}

.titleContainer {
  margin-left: 12px;
}

.contentContainer {
  margin-top: 21px;
}

.articleContainer {
  margin-top: 21px;
}

.header {
  display: flex;
  align-items: center;
}

.highlight {
  color: $primary;
}

.iconLink {
  margin: 5px;
  border-radius: 100%;

  transition: all 0.6 ease;
  color: $white !important;
}

.iconLink:hover {
  color: $secondary !important;
}

.marginDown {
  margin-bottom: 12px !important;
}
</style>
