<template>
  <div class="card">
    <div class="card-image">
      <nuxt-link :to="'/posts/' + article.fields.slug">
        <figure class="image is-4by3">
          <img 
            :src="article.fields.heroImage.fields.file.url" 
            :alt="article.fields.heroImage.fields.description">
        </figure>
      </nuxt-link>
    </div>
    <div class="card-content">
      <div class="content">
        <h1 class="title is-4 has-text-black">{{ article.fields.title }}</h1>
        <h5 class="subtitle is-6 has-text-grey">{{ article.fields.description }}</h5>

        <a 
          v-for="tag in article.fields.tags"
          :key="tag" 
          :class="$style.tag" 
          :href="'/tags/'+tag"
          class="tag">#{{ tag }}</a>.
        <br>
        <nuxt-link :to="'/authors/'+article.fields.author.fields.facebook">@{{ article.fields.author.fields.facebook }}</nuxt-link>
        <time 
          :datetime="article.fields.publishDate" 
          class="has-text-grey-light">{{ formatDate(article.fields.publishDate) }}</time>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    article: {
      type: Object,
      default: undefined
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format('DD MMM YYYY HH:mm:ss')
    }
  }
}
</script>

<style lang="scss" scoped module>
.tag {
  margin: 5px;
}
</style>
