<template>
  <div class="container">
    <div :class="$style.imageContainer">
      <figure class="image is-3by2">
        <img 
          :src="fields.heroImage.fields.file.url" 
          :alt="fields.heroImage.fields.description">
      </figure>
    </div>
    <section class="section">
      <div class="content">
        <div 
          :class="$style.titleContainer" 
          class="is-flex">
          <div :class="$style.titleContainer">
            <h1 class="is-marginless">{{ fields.title }}</h1>
            <small><nuxt-link :to="'/authors/'+fields.author.fields.facebook">{{ fields.author.fields.name }}</nuxt-link></small>
          </div>
          <div>
            <a 
              :href="'https://app.contentful.com/spaces/'+spaceID+'/entries/'+sys.id" 
              target="_blank">edit</a>
          </div>
        </div>

        <h5>{{ fields.description }}</h5>
        <div 
          :class="$style.information" 
          v-html="render(fields.body)"/>
      </div>
    </section>
  </div>
</template>

<script>
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

export default {
  head() {
    return {
      title: this.fields.title,
      meta: [
        {
          name: 'description',
          hid: 'description',
          content: this.fields.description
        },
        // Open Graph
        {
          property: 'og:title',
          content: this.fields.title
        },
        {
          property: 'og:description',
          content: this.fields.description
        },
        { property: 'og:type', content: 'article' },
        {
          property: 'article:author',
          content: `https://facebook.com/${this.fields.author.fields.facebook}`
        },
        ...this.fields.tags.map(tag => {
          return {
            property: 'article:tag',
            content: tag
          }
        }),
        {
          property: 'article:publisher',
          content: `https://facebook.com/${this.fields.author.fields.facebook}`
        },
        {
          property: 'article:published_time',
          content: this.sys.createdAt
        },
        {
          property: 'article:modified_time',
          content: this.sys.updatedAt
        },
        { property: 'og:updated_time', content: this.sys.updatedAt },
        { property: 'og:url', content: 'https://pprangnt.xyz' },
        {
          property: 'og:image',
          content: `https:${this.fields.heroImage.fields.file.url}`
        },
        { property: 'og:locale', content: this.sys.locale },
        // Twitter Card
        { property: 'twitter:card', content: 'summary' },
        {
          property: 'twitter:site',
          content: '@' + this.fields.author.fields.twitter
        },
        {
          property: 'twitter:title',
          content: this.fields.title
        },
        {
          property: 'twitter:description',
          content: this.fields.description
        },
        {
          property: 'twitter:image',
          content: this.fields.heroImage.fields.file.url
        },
        {
          property: 'twitter:image:alt',
          content: this.fields.heroImage.fields.description
        }
      ]
    }
  },
  async asyncData({ app, params, query, redirect, payload }) {
    if (!params.slug) return redirect('/?notfound=true')

    if (payload) {
      payload.spaceID = app.$contentfulID
      return payload
    }

    const result = await app.$contentful.getEntries({
      content_type: 'blogPost',
      'fields.slug': params.slug
    })

    if (result.total === 1) {
      return {
        spaceID: app.$contentfulID,
        ...result.items[0]
      }
    }
    return
  },
  methods: {
    render(document) {
      return documentToHtmlString(document)
    }
  }
}
</script>

<style lang="scss" scoped module>
.titleContainer {
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 6px;
}

.imageContainer {
  margin-top: 12px;
  max-width: 100vw;
  max-height: 95vh;
}

.editor {
  display: inline-block;
}

.information {
  margin-top: 30px;
}
</style>
