<template>
  <div 
    :class="$style.container" 
    class="container">
    <header 
      :class="$style.header" 
      class="section">
      <nuxt-link to="/">Home</nuxt-link>
    </header>
    <nuxt :class="$style.main"/>
    <footer :class="$style.footer">
      <div class="content">
        <h4>This is a personal blog website</h4>
        <ul>
          <li>DEVELOPER: <a 
            target="_blank" 
            href="https://github.com/kamontat">Kamontat Chantrachirathumrong</a></li>
          <li>LICENSE: <a 
            target="_blank" 
            href="https://opensource.org/licenses/MIT">MIT</a></li>
        </ul>
      </div>
    </footer>
  </div>
</template>

<style lang="scss" module>
@import '~/assets/styles/variable.scss';

.header {
  grid-area: header;
  min-height: 5vh;

  padding: 14px;
}

.main {
  grid-area: main;
  min-height: 80vh;
}

.footer {
  grid-area: footer;
  min-height: 12vh;

  padding: 14px;
}

.container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}
</style>
