<template>
  <div class="container">
    <section class="section">
      <div class="content">
        <h1 class="title is-1">
          Personal Blog
        </h1>
        <h2 class="subtitle">
          Welcome to my website :)
        </h2>
      </div>
      <div class="columns is-multiline">
        <div 
          v-for="article in items" 
          :key="article.sys.id"
          class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
          <ArticleCard :article="article"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import moment from 'moment'

import ArticleCard from '~/components/ArticleCard'

export default {
  components: {
    ArticleCard
  },
  head: {
    meta: [
      {
        property: 'og:title',
        content: 'Personal Blog'
      },
      {
        property: 'og:description',
        content: 'personal blog and work'
      },
      { property: 'og:type', content: 'website' },
      { property: 'og:url', content: 'https://pprangnt.xyz' },
      { property: 'og:locale', content: 'en-GB' },
      // Twitter Card
      { property: 'twitter:card', content: 'summary' }
    ]
  },
  async asyncData({ app }) {
    const result = await app.$contentful.getEntries({
      content_type: 'blogPost'
    })

    return result
  }
}
</script>
