<template>
  <div class="container">
    <div :class="$style.container">
      <div class="content">
        <h1>Article of <a>#{{ name }}</a></h1>
      </div>
    </div>
    <div class="columns is-multiline">
      <div 
        v-for="article in articles" 
        :key="article.sys.id"
        class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
        <ArticleCard :article="article"/>
      </div>
    </div>
  </div>
</template>

<script>
import ArticleCard from '~/components/ArticleCard'

export default {
  components: {
    ArticleCard
  },
  async asyncData({ app, params, query, redirect }) {
    if (!params.name) return redirect('/')

    const result = await app.$contentful.getEntries({
      content_type: 'blogPost',
      'fields.tags': params.name
    })

    return {
      spaceID: app.$contentfulID,
      name: params.name,
      articles: result.items
    }
  }
}
</script>

<style lang="scss" module>
.container {
  margin: 12px;
}
</style>
