:root {
  /* gray-700 */
  --color-gray: #374151;
  /* red-600 */
  --color-red: #DC2626;
  /* custom */
  --color-yellow: #D4A01B;
  /* orange-600 */
  --color-orange: #EA580C;
  /* green-900 */
  --color-green: #365314;
  /* blue-900 */
  --color-blue: #1E3A8A;
  /* indigo-800 */
  --color-indigo: #3730A3;
  /* fuchsia-900 */
  --color-purple: #701A75;
  /* pink-500 */
  --color-pink: #EC4899;

  /* gray-200 */
  --bgcolor-gray: #E5E7EB;
  /* red-300 */
  --bgcolor-red: #FCA5A5;
  /* yellow-100 */
  --bgcolor-yellow: #FEF9C3;
  /* orange-300 */
  --bgcolor-orange: #FDBA74;
  /* green-400 */
  --bgcolor-green: #A3E635;
  /* sky-400 */
  --bgcolor-blue: #38BDF8;
  /* indigo-300 */
  --bgcolor-indigo: #A5B4FC;
  /* purple-300 */
  --bgcolor-purple: #D8B4FE;
  /* pink-200 */
  --bgcolor-pink: #FBCFE8;
}